*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    width: 70%;
    margin: 0 auto;
    font-family: sans-serif;
}

header{
    text-align: center;
    margin: 2.8rem 0;
}

h1{
    font-size: 2.3rem;
    margin-bottom: 2.8rem;
    font-weight: 900;
    color: rgb(168, 26, 107);
}

p{
    font-size: 0.9rem;
    font-weight: 600;
}

.container{
    background-color: rgb(3, 3, 39);
    width: 30.66%;
    margin-right: 4%;
}

img{
    width: 100px;
    margin-right: 20px;
}

.floating-card{
    float: left;
}

.card{
    padding-top: 0.3rem;
}

span{
    color: white;
    line-height: 1.8rem;
    font-size: 0.1.1rem;
}

.name{
    font-weight: 900;
}

.email{
    color: lightskyblue;
    font-size: 0.7rem;
}


